#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

.img {
    width: 60%;
    transform: rotate(25deg);
}

body {
    font-family: "Montserrat";
}

.navbar {
    padding-bottom: 4.5rem;
}

#navbarSupportedContent {
    padding-left: 60%;
    font-family: "Montserrat";
    font-size: 1.2rem;
}

.nav-item {
    padding: 0 18px;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.icons {
    color: #ef8172;
    margin: 30px auto 10px auto;
}

h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

p {
    color: #8f8f8f;
}

.fa-4x:hover {
    color: #ff4c68;
}

#testimonials {
    padding: 7% 2% 7% 2%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
}

.dog-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 100px 100px 50px;
}

#pricing {
    text-align: center;
    padding: 3%;
}

.pricing-col {
    padding: 3%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .img {
        transform: rotate(0);
    }
}

#cta {
    background-color: #ff4c68;
    font-family: "Montserrat";
    color: white;
    text-align: center;
    padding: 2%;
}

.h3 {
    font-size: 3.5rem;
}

#footer {
    text-align: center;
    padding: 2%;
}

.fontawesome {
    padding: 1%;
}